<div class="container modal fade" id="login-modal-form">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Login form</h2>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <%if(displayType === 'login') { %>
      <div class="modal-body">
        <form action="/login" method="POST" id="login-modal-details">
          <!--email id and password-->
          <div class="form-row">
            <!--email id-->
            <div class="form-group col-md-6">
              <label for="inputEmail">Email</label>
              <input
                type="email"
                class="form-control"
                id="inputEmail"
                name="inputEmail"
                placeholder="Email"
              />
            </div>
            <!--Password-->
            <div class="form-group col-md-6">
              <label for="inputPassword">Password</label>
              <input
                type="password"
                class="form-control"
                id="inputPassword"
                name="inputPassword"
                placeholder="Password"
              />
            </div>
          </div>
        </form>
      </div>
      <!--Submit form button-->
      <div class="modal-footer">
        <button
          type="submit"
          class="btn btn-secondary"
          form="login-modal-details"
        >
          Login
        </button>
      </div>
      <% } %> <%#else if(displayType === 'login-done') {%>
      <!--Login is completed. Show the success message in the popup-->
      <!-- <div class="modal-body">
        <p>Successfully logged in!!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div> -->
      <%# }%>
    </div>
    <!--Modal content ends-->
  </div>
</div>
